
.liber-h h1 {
    font-family: var(--wp--preset--font-family--carlson);
    background-color: black;
    display: inline-block;
    text-transform: uppercase;
    /*padding-right: 0.5em;*/
    padding: 0.5em;
    font-size: 2rem;
}
