@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";
@import "background.css";
@import "player-sheet.css";
@import "liber-title.css";


.menu-item+.current_page_item {
    /*color: white !important;*/
    text-decoration: underline;
}

.menu-item a img {
    display: inline-block;
}

.menu-item-has-children .sub-menu {
    position: absolute;
    display: none;
}

.menu-item-has-children:hover .sub-menu {
    display: block;
}